@charset "UTF-8";

#writeForm {
	width: 500px;
	height: 610px;
	margin: auto;
}

h2 {
	text-align: center;
}

table {
	margin: 10px auto;
	width: 450px;
}

tr{
	height: 25px;
}

.td_left {
	width: 150px;
	background: orange;
	padding-right : 10px;
	text-align: right;
}

.td_right {
	width: 300px;
}

#commandCell {
	text-align: center;
}